html {
  height: 100%;
  box-sizing: border-box;
}

h2 {
	width: 30%;
	height: auto;
	float: left;
	font-family: "Arial";
	text-align: center;
	font-size: 2vw;
	background-color: #7c7c7c;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 2%;
	margin-bottom: 2%;
}

h3 {
	font-family: "Arial";
	margin-left: 5%;
	margin-right: 5%;
}

body {
	margin: 0px 0px 0px 0px;
	background-color: white;
}

.linkIcon {
	width: 40px;
	height: auto;
	margin-right: 10px;
	padding-bottom: 0px;
}

.imgIcon {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
	filter: opacity(50%);
}

.headerStyle {
	text-align: left;
	font-family: "Arial";
	font-size: 30px;
	background-image: url("source/shatterexplosion.png");
	color: #ffffff;
	padding-top: 5px;
	padding-left: 10px;
	margin: 0px 0px 0px 0px;
	text-shadow: 2px 2px 4px black;
}

.footerStyle {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #d2514a;
	color: white;
	text-align: center;
}

.one {
	width: 30%;
	height: auto;
	float: left;
	background-color: #f9d07a;
	margin-bottom: 4%;
	margin-right: 4%;
}
.two {
	width: 30%;
	height: auto;
	float: left;
	background-color: #f9807a;
	margin-bottom: 4%;
	margin-right: 4%;
}
.three {
	width: 30%;
	height: auto;
	float: left;
	background-color: #4b9197;
	margin-bottom: 4%;
}



